.robot-container {
  position: relative;
  align-self: center;
  text-align: center;
}

.robot-face-shape {
  text-align: center;
  width: 18.75rem;
  height: 18.75rem;
  background-color: #77c6c7;
  padding: 10px;
  margin: 10px;
  position: relative;
  top: 150px;
  left: auto;
  right: auto;
  border: 1px solid black;
  border-radius: 10px;
}

.robot-eye-left,
.robot-eye-right {
  position: relative;
  width: 75px;
  height: 75px;
  background: white;
  border-radius: 50%;
  padding: 5px;
}

.robot-eye-left {
  top: 25px;
  left: 30px;
  background-image: url(https://images.icon-icons.com/953/PNG/512/square-small-shape-in-a-bigger-outlined-one_icon-icons.com_74239.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  animation: disapear 1s infinite alternate,
    spin 2s infinite linear alternate-reverse;
}

.robot-eye-right {
  top: -50px;
  left: 175px;
  background-image: url(https://images.icon-icons.com/953/PNG/512/square-small-shape-in-a-bigger-outlined-one_icon-icons.com_74239.png);
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: center;
  animation: spin 2s infinite linear alternate;
}

.robot-ear-left {
  height: 100px;
  width: 25px;
  background-color: #77c6c7;
  position: relative;
  bottom: 100px;
  right: 10px;
  z-index: -1;
  border-radius: 10px;
  animation: slide-opposite 2s infinite linear;
}

.robot-ear-right {
  height: 100px;
  width: 25px;
  background-color: #77c6c7;
  position: relative;
  bottom: 200px;
  left: 305px;
  border-radius: 10px;
  z-index: -1;
  animation: slide 2s infinite linear;
}

.robot-nose {
  width: 31%;
  height: 17%;
  background: linear-gradient(
      217deg,
      rgba(255, 0, 0, 0.8),
      rgba(255, 0, 0, 0) 70.71%
    ),
    linear-gradient(127deg, rgba(0, 255, 0, 0.8), rgba(0, 255, 0, 0) 70.71%),
    linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 100px / 50px;
  position: relative;
  left: 100px;
  bottom: 35px;
  transition: all 2s ease-in-out;
  animation: nose-move 2s infinite linear;
}

.robot-nose:hover {
  transform: scale(1.4) rotate(90deg);
  animation-timing-function: ease-in-out;
}

.robot-teeth {
  position: relative;
  text-align: center;
  padding: 12px;
  margin-bottom: 6px;
  height: 60px;
  width: 200px;
  background-color: white;
  border: 1px solid black;
  left: 45px;
  right: 45px;
  animation: big-mouth 0.5s infinite linear alternate,
    chewing 0.2s infinite linear;
}

.robot-tooth {
  width: 200px;
  height: 1px;
  background-color: black;
  border: black;
  position: relative;
  text-align: center;
  right: 13px;
  bottom: 3px;
  animation: big-mouth 0.5s infinite linear alternate;
}

.robot-tooth:nth-child(even) {
  height: 7px;
  width: 0px;
}

.robot-hair-style {
  position: relative;
  rotate: -90deg;
  bottom: 658px;
}

.robot-hair-one {
  width: 0;
  height: 0;
  border-bottom: 50px solid blue;
  border-right: 50px solid transparent;
  position: relative;
  border-radius: 20px;
  top: 0;
  left: 0;
  animation: hair-move 3s infinite linear;
}

.robot-hair-two {
  width: 0;
  height: 0;
  border-bottom: 50px solid blue;
  border-right: 50px solid transparent;
  position: relative;
  margin-top: 10px;
  opacity: 0.3;
  top: 0;
  left: 0;
  animation: hair-move 3s infinite linear;
}

.robot-hair-three {
  width: 0;
  height: 0;
  border-bottom: 50px solid blue;
  border-right: 50px solid transparent;
  position: relative;
  border-radius: 20px;
  margin-top: 10px;
  top: 0;
  left: 0;
  animation: hair-move 3s infinite linear;
}

@keyframes slide {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(-40px);
  }
  75% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes slide-opposite {
  0% {
    transform: translateY(0px);
  }
  25% {
    transform: translateY(20px);
  }
  50% {
    transform: translateY(40px);
  }
  75% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes chewing {
  from {
    transform: translateY(1px);
  }
  to {
    transform: translateY(-1px);
  }
}

@keyframes big-mouth {
  from {
    transform: scale(-0.5);
  }
  to {
    transform: scale(1);
  }
}

@keyframes hair-move {
  0% {
    top: 0;
    left: 0;
  }
  25% {
    top: -10px;
    left: 0px;
  }
  50% {
    top: -10px;
    left: 10px;
    background-color: blueviolet;
  }
  75% {
    top: 0px;
    left: 10px;
  }
  100% {
    top: 0;
    left: 0;
  }
}

@keyframes nose-move {
  0% {
    top: -30px;
    left: 80px;
  }
  25% {
    top: -30px;
    left: 70px;
  }
  50% {
    top: -45px;
    left: 70px;
    background-color: blueviolet;
  }
  75% {
    top: -45px;
    left: 80px;
  }
  100% {
    top: -30px;
    left: 80px;
  }
}

@keyframes spin {
  from {
    transform: rotate(90deg);
  }
  to {
    transform: rotate(180deg);
  }
}
@keyframes disapear {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
